Sample/Schemas/Product1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/Product1" xmlns:tns="http://www.example.org/Product1" elementFormDefault="qualified">

    <complexType name="Product_Type">
    	<sequence>
    		<element name="apple" type="string"></element>
    		<element name="samsung" type="string"></element>
    		<element name="redmi" type="string"></element>
    	</sequence>
    </complexType>
    
    <element name="Product" type="tns:Product_Type"></element>
</schema>