Sample/Schemas/PRODUCTS.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/PRODUCTS" xmlns:tns="http://www.example.org/PRODUCTS" elementFormDefault="qualified">

    <complexType name="ProductType">
    	<sequence>
    		<element name="NewElement" type="string"></element>
    	</sequence>
    </complexType>
    
    <complexType name="ProductsType">
    	<sequence>
    		<element ref="tns:Product"></element>
    	</sequence>
    </complexType>
    
    <element name="Product" type="tns:ProductType"></element>

    <element name="Products" type="tns:ProductsType"></element>

</schema>