RestService_2603/DynamicProcessOverride/Schemas/MapperInputSchema.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:tibex="http://www.tibco.com/bpel/2007/extensions" xmlns:tns="http://www.tibco.com/namespaces/tnt/plugins/generalactivities/mapper/1651690499931" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tibco.com/namespaces/tnt/plugins/generalactivities/mapper/1651690499931">
  <xsd:complexType name="Responce">
    <xsd:sequence>
      <xsd:element name="Result" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="MapperInput" tibex:source="bw.generalactivities.mapper" type="tns:Responce"/>
</xsd:schema>
