RestService_2603/AdditionSOAP/Service Descriptors/GET.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.tibco.com/GET/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GET" targetNamespace="http://www.tibco.com/GET/" xmlns:xsd1="http://www.example.org/2CustomerDetails">
    <wsdl:types><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tibco.com/GET/">
	<xsd:complexType name="request">
		<xsd:sequence>
			<xsd:element name="CustID" type="xsd:int"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Responce"></xsd:complexType></xsd:schema>
    	<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    		<xsd:import
    			namespace="http://www.example.org/2CustomerDetails"
    			schemaLocation="../Schemas/2CustomerDetails.xsd">
    		</xsd:import></xsd:schema></wsdl:types>
    <wsdl:message name="NewOperationRequest">
    <wsdl:part name="ReqOperationRequest" type="tns:request"/>
  </wsdl:message>
  <wsdl:message name="NewOperationResponse">
    <wsdl:part name="ResOperationResponse" type="xsd1:CustomerDetails_type"/>
  </wsdl:message>
  <wsdl:portType name="GET">
    <wsdl:operation name="NewOperation">
      <wsdl:input message="tns:NewOperationRequest"/>
      <wsdl:output message="tns:NewOperationResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GETSOAP" type="tns:GET">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="NewOperation">
      <soap:operation soapAction="http://www.tibco.com/GET/NewOperation"/>
      <wsdl:input>
        <soap:body namespace="http://www.tibco.com/GET/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body namespace="http://www.tibco.com/GET/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GET">
    <wsdl:port binding="tns:GETSOAP" name="GETSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
